# SOLVED QUESTION PAGE 15 TILL 35

In [1]:
#simple algebraic expressions
a=3 + 2
b=6 - 3
c=4 / 8
d=1 * 9
e=2*4+3
f=(3+1)*7
g=4.654/(4+23)
print(a,b,c,d,e,f,g)

5 3 0.5 9 11 28 0.17237037037037037

In [2]:
#true and false
a=2 < 3
b=2 < 3 and 4 > 5
c=3 < 4 or 4 < 3
d=3 < 2 or 2 < 1 
print(a,b,c,d)

True False True False

In [3]:

#When Python evaluates an expression containing a variable

x=4
4*x
counter = 4*x
print(counter)

16

In [4]:
#write python program

a=3
b=4
c=a*a+b*b
print (c)

25

In [5]:

#suppose that the value of variable x

x=4
x=7
print (x)

7

In [6]:
#string

'hello, world'
s='hello'
print(s)

hello

In [7]:
#string

'hello, world'
s='hello'
print(s)

hello

In [8]:
#String Operators

s == 'hello'
t = 'world'
s != t and s < t 


3 * 'A'


'hello ' * 2

s = 'hello'
'h' in s

True

In [9]:

pets = ['goldfish', 'cat', 'dog'] 
print(pets[0])
print(pets[1])

goldfish
cat

In [10]:
lst = [23.99, 19.99, 34.50, 120.99] 
print(min(lst))
print(max(lst))
print(sum(lst))

19.99
120.99
199.46999999999997

In [11]:
days = ('Mo', 'Tu', 'We')
print(days)
days = 'Mo', 'Tu', 'We', 'Th'
print(days)
'Fr' in days 
week = days + ('Fr', 'Sa', 'Su') 
print(week)
len(week) 
2*week

('Mo', 'Tu', 'We')
('Mo', 'Tu', 'We', 'Th')
('Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su')

('Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su',
 'Mo',
 'Tu',
 'We',
 'Th',
 'Fr',
 'Sa',
 'Su')

In [12]:
numbers = [6, 9, 4, 22]
min(numbers)



pets = ['goldfish', 'cymric cat', 'dog']
pets.append('guinea pig')
print(pets) 
pets.reverse()
print(pets) 
pets.count('dog')

['goldfish', 'cymric cat', 'dog', 'guinea pig']
['guinea pig', 'dog', 'cymric cat', 'goldfish']

1